p{
    text-align: center;
    font-size: x-large;
  }
  
  h1{
    text-align: center;
  }
  
  button{
    margin-left: 47%;
    margin-right: 50%;
  }
  
  .img{
    margin-left: 5rem;
    margin-right: 7rem;
  }
  