p{
    text-align: center;
    font-size: x-large;
  }
  
  h1{
    text-align: center;
  }
  
  button{
    margin-left: 49.2%;
    margin-right: 50%;
  }
  
  .img{
    margin-left: 49.2%;
    margin-right: 50%;
  }
  